.titulo-segundo {
  margin: 20px 0 30px 0;
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
}
.img-unit {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-unit img {
  width: 180px;
  height: 150px;
}

.unit-description {
  padding-top: 15px;
  font-size: 11px;
  text-align: justify;
}

.unit-name {
  font-size: 15px;
  text-decoration: underline;
}

.unit {
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
  background-color: #145a87;
}
