@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: #122236;
  min-height: 100vh;
}

h1 {
  margin: 0;
  font-size: 40px;
  text-align: center;
  color: white;
}

#root > div > a > button {
  margin: 0;
  font-size: 20px;
  text-align: center;
  color: white;
  border: 1px solid white;
  padding: 5px 10px;
  margin-left: 15px;
}

.army-list {
  font-size: 18px;
  color: white;
  padding-left: 20px;
  padding-top: 10px;
  /*pendiente por si meto resto de propiedades de objeto*/
}

.army-row {
  padding: 5px;
  border: 1px solid white;
  display: block;
}
